QMT_SERVER_TOKEN=change_me_token
BIG_QMT_GATEWAY_URL=http://127.0.0.1:9000
BIG_QMT_GATEWAY_PORT=9000
BIG_QMT_GATEWAY_PASSWORD=change_me_password
BIG_QMT_GATEWAY_SECRET=change_me_hmac_secret
BIG_QMT_GATEWAY_TIMEOUT_SECONDS=90
QMT_ACCOUNT_ID=change_me_account_id
QMT_ACCOUNT_TYPE=credit
